<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Pack&amp;Pack</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/checklist-model/checklist-model.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- Componentes-->
</head>

<body ng-app="ionicApp">

    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
        <ion-view view-title="Pack&Pack">
            <ion-content ng-controller="SignInCtrl">
                <img src="img/log.jpg" style="display: block; margin-left: auto;margin-right: auto;border:none; width: 80px; height: auto;">
                <form ng-submit="signIn(email, pass)">
                    <div class="list">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input ng-model="email" class="form-control floating-label" type="text" placeholder="Email">
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Contraseña</span>
                            <input ng-model="pass" class="form-control" type="password" placeholder="Contraseña">
                        </label>
                    </div>
                    <div class="spacer" style="height: 40px;"></div>
                    <button type="submit" class="button button-energized button-full button-outline ">Acceder</button>
                    <p class="text-center">
                        <a href="#/forgot-password" style="text-decoration: none">Olvidé mi contraseña</a>
                    </p>
                </form>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/forgot-password.html" type="text/ng-template">
        <ion-view view-title="Forgot Password">
            <ion-content padding="true">
                <p>Formulario de recuperación de contraseña</p>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/tabs.html" type="text/ng-template">
        <ion-view>
            <ion-tabs class="tabs-icon-top tabs-dark">

                <ion-tab title="Envios" icon="mdi-maps-local-shipping" href="#/tab/envios">
                    <ion-nav-view name="envios-tab"></ion-nav-view>
                </ion-tab>

                <ion-tab title="Viajes" icon="mdi-maps-directions-bike" href="#/tab/viajes">
                    <ion-nav-view name="viajes-tab"></ion-nav-view>
                </ion-tab>

                <ion-tab title="Cerrar Sesión" icon="ion-log-out" href="#/sign-in">
                </ion-tab>

            </ion-tabs>
        </ion-view>
    </script>

    <script id="templates/envios.html" type="text/ng-template">
        <ion-view view-title="Envios">
            <ion-content padding="true" ng-controller="AppCtrl">
                <ion-list>
                    <ion-refresher pulling-text="Desliza para actualizar" refreshing-text="Cargando..." refreshing-icon="mdi-navigation-refresh" pulling-icon="mdi-editor-vertical-align-bottom" on-refresh="doRefresh()">
                    </ion-refresher>
                    <strong>{{sinSolicitudes}}</strong>
                    <ion-item class="card" ng-repeat="solicitud in solicitudesConfirmadas">
                        <div class="item item-text-wrap" style="background-color:rgba(123, 222, 151, 0.4);">
                            <p style="text-align:center;"><strong>{{solicitud.status}}</strong></p>
                            <p>Nombre: <strong>{{solicitud.nombre}} {{solicitud.apellidos}}</strong></p>
                            <p>Origen: <strong>{{solicitud.origen}}</strong></p>
                            <p>Destino: <strong>{{solicitud.destino}}</strong></p>
                            <p>Fecha: <strong>{{solicitud.fecha}}</strong></p>
                            <button class="button button-full button-energized">Voy por el Paquete</button>
                            <button class="button button-full button-energized" ng-disabled="true">Recogido</button>
                            <button class="button button-full button-energized" ng-disabled="true">Entregado</button>
                        </div>
                    </ion-item>

                    <ion-item class="card" ng-repeat="solicitud in solicitudesPendientes">
                        <div class="item item-text-wrap" style="background-color:rgba(182, 193, 185, 0.4);">
                            <p style="text-align:center;"><strong>{{solicitud.status}}</strong></p>
                            <p>Nombre: <strong>{{solicitud.nombre}} {{solicitud.apellidos}}</strong></p>
                            <p>Origen: <strong>{{solicitud.origen}}</strong></p>
                            <p>Destino: <strong>{{solicitud.destino}}</strong></p>
                            <p>Fecha: <strong>{{solicitud.fecha}}</strong></p>
                            <button class="button button-full button-energized" ng-click="ofertarSolicitud(solicitud.id)">Ofertar</button>
                            <button class="button button-full button-energized" ng-click="rechazarSolicitud(solicitud.id)">Rechazar</button>
                        </div>
                    </ion-item>
                    <ion-item class="card" ng-repeat="solicitud in solicitudesEspera">
                        <div class="item item-text-wrap" style="background-color:rgb(255, 201, 0);">
                            <p style="text-align:center;"><strong>{{solicitud.status}}</strong></p>
                            <p>Nombre: <strong>{{solicitud.nombre}} {{solicitud.apellidos}}</strong></p>
                            <p>Origen: <strong>{{solicitud.origen}}</strong></p>
                            <p>Destino: <strong>{{solicitud.destino}}</strong></p>
                            <p>Fecha: <strong>{{solicitud.fecha}}</strong></p>
                        </div>
                    </ion-item>
                    <br>
                    <br>
                </ion-list>
            </ion-content>
        </ion-view>
    </script>

    <script id="templates/viajes.html" type="text/ng-template">
        <ion-view view-title="Viajes">
            <ion-content padding="true" ng-controller="HomeTabCtrl" style="text-align:center">
                <h3>Disponibilidad para viajar</h3>
                <div class="card" id="pendiente">
                    <div class="item item-text-wrap" style="background-color:rgba(182, 193, 185, 0.4);">
                        <div class="form-group">
                            <div class="form-group Tenvios">
                                <h2>Puebla-México</h2>
                                <label ng-repeat="label in weekDayLabels">
                                    <input type="checkbox" class="checkbox checkbox-{{label}}" checklist-model="puebla.weekDays" checklist-value="$index">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group Tenvios">
                                <h2>México-Puebla</h2>
                                <label ng-repeat="label in weekDayLabels">
                                    <input type="checkbox" class="checkbox checkbox-{{label}}" checklist-model="mexico.weekDays" checklist-value="$index">
                                </label>
                            </div>
                        </div>
                        <button class="button button-small button-energized pull-right" ng-click="guardarOpciones()">Guardar</button>
                    </div>
                </div>
                <button class="button button-block button-energized pull-right" ng-click="guardarOpciones()">Guardar</button>
            </ion-content>
        </ion-view>
    </script>







</body>

</html>